body{
    width: 320px;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
}


.contenedor-nav{
    height: 400px;
    width: 100%;
    display: none;
    background-color: #572EE5;
    position: absolute;
    color: white;
    opacity: 0.8;
}

.img-busqueda{
    width: 100%;
}

.busqueda-input{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #572EE5;
    border-radius: 27px;
}

.input{
    border: none;
}

.contenedor-h{
    display: block;
    text-align: center;
}

.menu-item{
    list-style: none;
}

#resultado{
    display: none;
    
    grid-template-columns: 156px 156px;
    grid-template-rows: 126px 126px 126px 126px 126px 126px;
}

.im-pre{
    width: 100%;
    height: 100%;
}

.carousel {
    width: 100vw;
    height: 100vh;
    background: blue;
    position: relative;
    overflow: hidden;
    
}
.carousel .track {
    position: absolute;
    top: 150px;
    left: 20px;
    display: inline-flex;
    touch-action: none;
}
  
.carousel .track .card {
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 3px;
    margin-right: 20px;
}

html.dark-mode{
    filter: invert(100%);
}

html.dark-mode img{
    filter: invert(100%);
}
